<html>
<head>
<title>Invalid Page</title>
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="bck-body">
 <script>
 
 </script>
 	<nav class="navbar navbar-default">
	  <div class="container">
		<div class="navbar-header">
		  <a class="navbar-brand" href="home">StudentCare</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav navbar-right">
			<li id="home"><a href="/home">HOME</a></li>
			<li id="aboutus"><a href="/studentDetails">GET REPORT</a></li>
			<li id="book"><a href="/contact">BOOK AN APPOINTMENT</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	<form class="main-form col-md-offset-5 mt30">
		<h2 class="m10s0">This is an invalid Request.</h2>
		<p class="mt50">
		This page does not exist !!!! 
		</p>
	</form>
</body>
</html>