<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="bck-body">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">StudentCare</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    </div>
    

    
  </div>
</nav>
	<form name="loginForm" action="loginApp" method="post" class="report-form mt50">
	<div>
	    <!-- ying add animator start -->
    <canvas id="canvas" width="300" height="300"></canvas>
  <script src="../javascripts/animator.js"></script>    
    
    <!-- ying add animator end -->
	</div>
		<div>
			<label class="m10s0">UserName :</label> 
			<input class="m5s0 box-format"	id="userName" type="text" name = "userName"> <br /> 
			<label class="m10s0">Password : </label> 
			<input class="m5s0 box-format" id="userName" type="password" name = "passWord"> <br /> 
			<input type="submit" class="btn btn-primary mt30" value="Login">
			<!--input class="m10s0" value="Signup" onclick="signup()"-->
		</div>
	</form>
</body>
</html>