<html>
<head>
<title>REPORT</title>
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="bck-body">
 <script>
 
 </script>
 	<nav class="navbar navbar-default">
	  <div class="container">
		<div class="navbar-header">
		  <a class="navbar-brand" href="home">StudentCare</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav navbar-right">
			<li id="home"><a href="/home">HOME</a></li>
			<li id="aboutus"><a href="/studentDetails">GET REPORT</a></li>
			<li id="book"><a href="/bookAppointment">BOOK AN APPOINTMENT</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	<form class="main-form col-md-offset-5 mt30">
		<h2 class="m10s0 col-md-offset-2">REPORT</h2>
		<p class="mt50">
			Eating a balanced, healthy diet can even be good for your brain!
When you’re a student, it can be hard to find the time and the will power to eat a healthy diet. But eating right can pay off. With a healthy diet, you can feel better and look better. And with tip #3, you might even think better!
<br/>
<ul>
<li>
Tip 1. Eat a rainbow of colors
Everyone knows you’re supposed to eat your fruits and vegetables. When choosing your produce, you should look for a variety of colors. This gives you a healthy variety of nutrients rather than too much of the same nutrient. To catch all of the colors of the rainbow, go for tomatoes, watermelon, oranges, sweet potatoes, bananas, yellow peppers, spinach, broccoli, cauliflower, and blueberries.
</li><li>
Tip 2. Fiber is important
Make sure you are getting enough fiber in your diet. Fiber can help you with digestion, glucose levels, and healthy cholesterol levels. Fiber can be found in fruits and vegetables as well as in nuts, beans, and whole grains. To increase your intake of whole grains, look for breads that have “whole wheat” as their top ingredient. Add oatmeal to your breakfast. And try to avoid processed snacks and baked goods that contain mainly white flours and sugars.
</li><li>
Tip 3. Eat fish
Eating meat is a great way to get the protein your body needs. But not all meats offer the same health benefits. Red meats and pork should only be eaten in limited amounts because they are high in saturated fats. A better alternative is white meat, like chicken or turkey. And the best alternative is fish. The oil in fish contains omega-3 fatty acids, which are considered to be good for your heart health and good for your brain too! Imagine how smart you will be after your next tunafish sandwich!
</li><li>
Tip 4. Good fats versus bad fats
Fats should be limited in your diet, especially the “bad” fats such as saturated fats and trans fats. The better fats come from plants and fish, such as olive oil, canola oil, nuts, fish, and fish oils. The unhealthy fats come from animals and can be found in foods like beef, pork, butter, cheese, whole milk, and cream. Try to limit these fats. Also avoid trans-saturated fats, which can be found in processed items, and are usually listed as “partially hydrogenated.”
</li><li>
Tip 5. Cut back on sugar
Most people enjoy sweets, and it’s hard not be tempted by all the sweet treats that are available, whether it’s cookies, doughnuts, chocolates, candy, soda, or ice cream. Try to find alternatives to these items. Try eating fresh fruit or dried fruit instead of candy. Try drinking water instead of soda. Or have some sugarless gum if you are feeling tempted to go for the junk food.
</li><li>
Tip 6. Watch the salt in processed foods
Processed foods, boxed foods, and baked goods are typically very high in sodium. Too much sodium in your diet could lead to high blood pressure. Try to limit your sodium intake by eating more fresh foods. If you have to eat processed foods, read the labels, and choose lower sodium alternatives.
</li><li>
Tip 7. Control your portion sizes
Even if you eat healthy foods, you can still overeat. Try to eat reasonable portion sizes. You can help control your portion sizes with some of these tips:
Choose a smaller plate so that your plate appears full with a smaller amount of food on it.
As a rule of thumb, try to fill ½ of your plate with vegetables, ¼ with protein, and ¼ with grains.
Avoid going back for seconds.
Eat more slowly so that your body knows when it is getting full.
At a restaurant, cut your meal in half before you start eating, and bring the rest home for leftovers.
</li><li>
Tip 8. Try new recipes!
</li></ul>
		</p>
	</form>
</body>
</html>